body {
	background-color: #333;
	color: #999;
}

header {
  background-color: #444;
}
header > ul > li {
    border-color: #CCC;
}
header > ul > li > a {
    color: #CCC;
}
header > ul > li > a:visited {
    color: #777;
}
footer {
  background-color: #444;
}

.random-box {
    color: #ABC;
}